.chatWrapper {
    display: grid;
    grid-template-areas:
        "image info";
    grid-template-columns: 1fr 9fr;

    margin: 10px 5px;
    padding: 4px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
}

.chatImage {
    grid-area: image;
}

.chatInfo {
    grid-area: info;
}